body {
    background-image: url(images/diffBackground.jpg);
    margin: 20px;
}

.flex-container {
    display: flex;
    justify-content: center;
}


nav span a {
    margin: 10px;
    text-decoration: none;
    font-size: 24px;
    border-radius: 5px;
    background-color: #AC3B61;
    padding: 5px;
    font-weight: bold;
    color:#fdcdb6;
}

nav span a:hover {
    background-color: #db799a;
}

nav span a:active {
    color:#153250;
}

h1 {
    color: #AC3B61;
    font-size: 56px;
}

h2 {
    color: #123C69;
    font-size: 48px;
}


h3 {
    color: #123C69;
    font-size: 36px;
}

#banner {
    margin-top: 200px;
    text-align: center;
}

summary {
    font-size: 32px;
}

#skills, #projects {
    text-align: center;
    text-decoration: none;
    margin-top: 100px;
}

.project img {
    height: 799px;
    width: 1422px;
    transition-property: width, height;
    transition-duration: 0.5s;
    transition-delay: 0s;
}

.project img:hover {
    height: 849px;
    width: 1472px;
}

/* About Me section */

#bio {
    margin-top: 100px;
}


#bio img {
    height: auto;
    width: 20%; 
    align-self: flex-end;
    margin-top: 50px;
    margin-left: 20px;
}

#bioText {
    width: 49%;
    justify-content: center;
}

#bioText p {
    font-size: 24px;
}

#contact {
    text-align: center;
}

label, input, textarea {
    font-size: 24px;
}

button {
    margin: 10px;
    font-size: 24px;
    border-radius: 5px;
    background-color: #AC3B61;
    padding: 5px;
    font-weight: bold;
    color:#fdcdb6;
}

button:hover {
    background-color: #db799a;
}

button:active {
    color:#153250;
}